<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            新增
        </button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>性别</th>
                    <th>成绩</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="studentTB">
            </tbody>
        </table>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">学生信息</h4>
                </div>
                <div class="modal-body">
                    <form id="student-form">
                        <input hidden="hidden" id="id">
                        <div class="form-group">
                            <label for="name">姓名</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="name">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="no">学号</label>
                            <input type="text" class="form-control" id="no" name="no" placeholder="no">
                        </div>
                        <div class="form-group">
                            <label for="sex">性别</label>
                            <select class="form-control" id="sex" name="sex">
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="score">成绩</label>
                            <input type="text" class="form-control" id="score" name="score" placeholder="score">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addStudent();">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function addStudent() {
            let student = $("#student-form").serialize();
            $.ajax({
                url: "/webapi/student/insert",
                type: "POST",
                method: "POST",
                data: student,
                done: function () {
                    loadTable();
                    $("#myModal").modal("hide");
                }
            });
        }

        function editStudent(id) {
            $("#myModal").modal("show");
            $.ajax({
                url: "/webapi/student/" + id,
                type: "GET",
                merge: "GET"
            }).done(function (data) {
                $(#id).val(data.id);
                $(#name).val(data.name);
                $(#password).val(data.password);
                $(#no).val(data.no);
                $(#sex).val(data.sex);
                $(#score).val(data.score);
            });
        }

        function loadTable() {
            $.ajax({
                url: "/webapi/student/list",
                type: "GET",
                method: "GET",
            }).done(function (data) {
                let len = data.length;
                let html = "";
                for (let i = 0; i < len; i++) {
                    let item = data[i];
                    html += "<tr>"
                        + "<td>" + item.name + "</td>"
                        + "<td>" + item.no + "</td>"
                        + "<td>" + item.sex + "</td>"
                        + "<td>" + item.score + "</td>"
                        + "<td>" + "<a href='#' onclick='editStudent();'>" + "编辑" + "</a>" + "</td>"
                        + "</tr>";
                }
                console.log(html);
                $("#studentTB").html(html);
            })
        }

        $(function (){
            loadTable();
        })
    </script>
</body>

</html>